body {
    font-family: Arial, sans-serif;
    color: #000000;
    text-align: justify;
    background-image: url('https://i.pinimg.com/736x/ae/d1/44/aed144c337a1bd6192c037b453384a58.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title{
    color: #000000;
    background-color: rgb(192, 66, 192);
    display: fit-content;
    font:Arial;
    margin: auto;
}
.text{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    margin: auto;
}

img{
    width: 100px;
    background-color: rgb(35, 74, 189);
    margin: 0 auto;
}

.PI {
    color: rgb(5, 5, 5);
    list-style-type:square;
}


.t1 {
    border-collapse: collapse; 
    margin:  0 auto;  
    border: solid black;
    text-align: center;
}

.t1 td {
    border: solid black;
    padding: 6px;
}

.first{
    color: rgb(55, 1, 55);
    background-color: rgb(0, 146, 225);
}
 .oders{
    background-color:rgb(162, 196, 214) ;
 }

.Buttom {
    color: blue;
    text-align: auto;
}

table{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

